<header class="site-header">
  <img class="site-header__logo" src="images/site-header/logo.png" alt="gg leap"/>

  <div class="site-header__controls">
    <div class="site-header__info">
      Logged In as
      <span class="site-header__username">Jayant</span>
    </div>

    <a href="#" class="site-header__control">
      <img src="images/site-header/discord.png" alt="discord"/>
    </a>

    <a href="#" class="site-header__control">
      <img src="images/site-header/logout.png" alt="logout"/>
    </a>

  </div>
</header>
