.info-cards-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 426px);
  grid-gap: 9px 23px;
  justify-content: center;

  &_statistic {
    grid-template-columns: repeat(auto-fill, 342px);
  }
}
