.info-card {
  border: 2px solid #a6c6df;
  padding: 9px 16px 12px 16px;
  max-width: 426px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;


  &_green {
    background-color: #7adec3;
  }

  &_orange {
    background-color: #fab087;
  }

  &_gray {
    background-color: #b4b8c6;
  }

  &_red {
    background-color: #fd8d8d;
  }

  &_blue {
    background-color: #8ca7ff;
  }

  &_purple {
    background-color: #bd91f9;
  }

  &_gold {
    background-color: #deb27a;
  }

  &_aquamarine {
    background-color: #7ad8de;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
  }

  &__text {
    font-family: "Brandon Grotesque - Black";
    font-size: 27px;
    color: #ffffff;

    &_light {
      font-family: "Helvetica";
      font-weight: 300;
      font-size: 15px;
      color: #fff;
    }

    &_center {
      text-align: center;
    }

    &_right {
      text-align: right;
    }

    &_bold {
      font-family: "Helvetica";
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__table {
    width: 100%;
  }

  &__total-row {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

}
