body {
  background-color: #4a82ae;
  font-family: "BrandonGrotesque";
}

@font-face {
  font-family: "Brandon Grotesque - Black";
  src: url("../fonts/BrandonGrotesque-Black.eot"),
       url("../fonts/BrandonGrotesque-Black.ttf"),
       url("../fonts/BrandonGrotesque-Black.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("../fonts/BrandonGrotesque-Bold.eot"),
       url("../fonts/BrandonGrotesque-Bold.ttf"),
       url("../fonts/BrandonGrotesque-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.eot"),
       url("../fonts/HelveticaRegular.ttf"),
       url("../fonts/HelveticaRegular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaLight.eot"),
       url("../fonts/HelveticaLight.ttf"),
       url("../fonts/HelveticaLight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaBold.eot"),
       url("../fonts/HelveticaBold.ttf"),
       url("../fonts/HelveticaBold.woff");
  font-weight: 700;
  font-style: normal;
}
