@font-face {
  font-family: "Brandon Grotesque - Black";
  src: url("../fonts/BrandonGrotesque-Black.eot"),
       url("../fonts/BrandonGrotesque-Black.ttf"),
       url("../fonts/BrandonGrotesque-Black.woff");
  font-weight: 400;
  font-style: normal;
}
