{% macro info_card(type, bgcolor, title, text) %}

{% if type == 'common' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>
    <div class="info-card__text">{{text}}</div>
  </div>

{% endif %}

{% if type == 'salesStatistic' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>
    <table class="info-card__table">
      <tr class="info-card__row">
        <td class="info-card__text info-card__text_light">Total Offers</td>
        <td class="info-card__text info-card__text_light info-card__text_right">$0</td>
      </tr>
      <tr class="info-card__row">
        <td class="info-card__text info-card__text_light">Total Guest Time</td>
        <td class="info-card__text info-card__text_light info-card__text_right">$0</td>
      </tr>
      <tr class="info-card__row">
        <td class="info-card__text info-card__text_light">Total Products</td>
        <td class="info-card__text info-card__text_light info-card__text_right">$0</td>
      </tr>

    </table>

    <div class="info-card__total-row">
      <div class="info-card__text info-card__text_bold">Total Sales</div>
      <div class="info-card__text info-card__text_bold">$0</div>
    </div>

  </div>

{% endif %}

{% if type == 'incomeStatistic' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>
    <table class="info-card__table">
      <tr class="info-card__row">
        <td class="info-card__text info-card__text_light">Cash Income</td>
        <td class="info-card__text info-card__text_light info-card__text_right">$0</td>
      </tr>
      <tr class="info-card__row">
        <td class="info-card__text info-card__text_light">Cash Income</td>
        <td class="info-card__text info-card__text_light info-card__text_right">$0</td>
      </tr>

    </table>

    <div class="info-card__total-row">
      <div class="info-card__text info-card__text_bold">Total Sales</div>
      <div class="info-card__text info-card__text_bold">$0</div>
    </div>

  </div>

{% endif %}

{% if type == 'usersStatistic' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>

    <div class="info-card__text info-card__text_light info-card__text_center">
      Total Users : 18
    </div>

    <div class="info-card__row">

      <div class="info-card__numberAndTitle">
        <div class="info-card__number">0</div>
        <div class="info-card__text info-card__text_light info-card__text_center">Active Users</div>
      </div>

      <div class="info-card__numberAndTitle">
        <div class="info-card__number">0</div>
        <div class="info-card__text info-card__text_light info-card__text_center">New Users</div>
      </div>

    </div>

  </div>

{% endif %}

{% if type == 'employeesStatistic' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>

    <div class="info-card__text info-card__text_light">
      There are no Employees who have started their shifts.
    </div>

  </div>

{% endif %}

{% if type == 'coinsStatistic' %}

  <div class="info-card info-card_{{bgcolor}}">
    <div class="info-card__title">{{title}}</div>

    <div class="info-card__numberAndTitle">
      <div class="info-card__number">0</div>
      <div class="info-card__text info-card__text_light info-card__text_center">New Users</div>
    </div>

  </div>

{% endif %}

{% endmacro %}
