{% macro nav_panel(activeItem='', class='') %}

<nav class="nav-panel">

  <a class="nav-panel__notifications" href="#" data-count='1'></a>

  <div class="nav-panel__list">

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/dashboard.png" alt="dashboard">
      <div class="nav-panel__label nav-panel__label_gray">dashboard</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/consoles.png" alt="consoles">
      <div class="nav-panel__label nav-panel__label_purple">consoles</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/shop.png" alt="shop">
      <div class="nav-panel__label nav-panel__label_gold">shop</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/orders.png" alt="orders">
      <div class="nav-panel__label nav-panel__label_pink">orders</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/guests.png" alt="guests">
      <div class="nav-panel__label nav-panel__label_dark-blue">guests</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/sliderControl.png" alt="slider control">
      <div class="nav-panel__label nav-panel__label_red">slider control</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/activity.png" alt="activity">
      <div class="nav-panel__label nav-panel__label_green">activity</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/stats.png" alt="stats">
      <div class="nav-panel__label nav-panel__label_purple2">stats</div>
    </a>

    <a class="nav-panel__item" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/gdprRequests.png" alt="GDPR REQUESTS">
      <div class="nav-panel__label nav-panel__label_blue">GDPR <br/> REQUESTS</div>
    </a>

  </div>

  <div class="nav-panel__list nav-panel__list_secondary">
    <a class="nav-panel__item nav-panel__item_rounded" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/fullscreen.png" alt="fullscreen">
    </a>

    <a class="nav-panel__item nav-panel__item_rounded nav-panel__item_active" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/settings.png" alt="settings">
    </a>

    <a class="nav-panel__item nav-panel__item_rounded" href="#">
      <img class="nav-panel__icon"src="images/nav-panel/logout.png" alt="logout">
    </a>
  </div>

</nav>

{% endmacro %}
