
{% macro site_table(type, data) %}

  {% if type == 'common' %}
  <div class="site-table-wrapper">
    <table class="site-table" >
      <tr class="site-table__row site-table__row_header">
        <th class="site-table__cell site-table__cell_header">PC</th>
        <th class="site-table__cell site-table__cell_header">Status</th>
        <th class="site-table__cell site-table__cell_header">Username</th>
        <th class="site-table__cell site-table__cell_header">Apps</th>
        <th class="site-table__cell site-table__cell_header">Group</th>
        <th class="site-table__cell site-table__cell_header">Teme Remaining</th>
        <th class="site-table__cell site-table__cell_header">Last Seen</th>
      </tr>

      <tr class="site-table__row">
        <td class="site-table__cell site-table__cell_spacer" colspan="7"></td>
      </tr>

      {% for index in range(1, 8) %}
        <tr class="site-table__row">
          <td class="site-table__cell">WS {{index}}</td>
          <td class="site-table__cell">off</td>
          <td class="site-table__cell">__</td>
          <td class="site-table__cell">__</td>
          <td class="site-table__cell">General Sys</td>
          <td class="site-table__cell">Teme Remaining</td>
          <td class="site-table__cell">Last Seen</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {% endif %}

  {% if type == 'consoles' %}

  <div class="site-table-wrapper site-table-wrapper_purple">
    <table class="site-table" >
      <tr class="site-table__row site-table__row_header">
        <th class="site-table__cell site-table__cell_header">Type</th>
        <th class="site-table__cell site-table__cell_header">Name</th>
        <th class="site-table__cell site-table__cell_header">Group</th>
        <th class="site-table__cell site-table__cell_header">Username</th>
      </tr>

      <tr class="site-table__row">
        <td class="site-table__cell site-table__cell_spacer" colspan="7"></td>
      </tr>

      {% for rowData in data %}
        <tr class="site-table__row">
          <td class="site-table__cell"><img src="images/site-table/consoles/{{rowData.type}}.png" alt="{{rowData.type}}"/></td>
          <td class="site-table__cell">{{rowData.name}}</td>
          <td class="site-table__cell">{{rowData.group}}</td>
          <td class="site-table__cell">{{rowData.username}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {% endif %}

  {% if type == 'shop' %}

  <div class="site-table-wrapper site-table-wrapper_gold site-table-wrapper_shop">

    {% include './../partials/user-info.html'  %}

    <table class="site-table">
      <tr class="site-table__row">
        <td class="site-table__cell site-table__cell_spacer" colspan="3"></td>
      </tr>

      {% for rowData in data %}
        <tr class="site-table__row">
          <td class="site-table__cell site-table__cell_lg">{{rowData.name}}</td>
          <td class="site-table__cell site-table__cell_lg">{{rowData.count}}</td>
          <td class="site-table__cell site-table__cell_lg site-table__cell_bold">{{rowData.summ}}</td>
        </tr>
      {% endfor %}
    </table>

    {% include './../partials/shop-total.html'  %}

  </div>

  {% endif %}

{% endmacro %}
